[mysqld]
bind-address=0.0.0.0
user=mysql
port=3306
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
skip-name-resolve
long_query_time=2
slow_query_log_file=/var/lib/mysql/mysql-slow.log
expire_logs_days=2
#skip-grant-tables
character-set-server = utf8
collation-server = utf8_general_ci
max_connections = 10240
open_files_limit = 65535
innodb_buffer_pool_instances = 4
innodb_buffer_pool_size = 4G
innodb_flush_log_at_trx_commit= 2
sync_binlog = 0
innodb_log_file_size = 256M
innodb_flush_method = O_DIRECT
interactive_timeout = 1800
wait_timeout = 1800
slave-parallel-type = LOGICAL_CLOCK
slave-parallel-workers = 8
master-info-repository=TABLE
relay-log-info-repository=TABLE
innodb-file-per-table=1
innodb_flush_log_at_trx_commit = 2
log_warnings = 1
max_allowed_packet      = 512M
connect_timeout = 60
net_read_timeout = 120
pid-file=/var/run/mysql/mysql.pid
log_error=/var/log/mysql/error.log
max_connections=3600
